



/* COLORES */
:root {
    --lightgray: #EFEFEF;
}



.sectionq {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sectionq .containerq {
    min-height: 614px;
    min-width: 335px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.sectionq .containerq .question {
    background-color: var(--white);
    width: 100%;
    margin: 0 auto;
    min-width: 335px;
    min-height: 599px;
}

.sectionq .containerq .question .box {
    width: 80%;
    margin: 0 auto;
}

.sectionq .containerq .question .box .title {

    font-family: "Solano Gothic Pro MVB";
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray);
    text-transform: uppercase;
    border-bottom: 1px solid var(--gray);
    margin-top: 20px;
}

.sectionq .containerq .question .box .contentq {
    display: flex;
    flex-direction: column;
}

.sectionq .containerq .question .box .contentq .imagenq {
    min-width: 271px;
    min-height: 225px;
}

.sectionq .containerq .question .box .contentq .imagenq img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.sectionq .containerq .question .box .contentq .infoq {
    font-family: "Zizou Slab Bold";
    font-weight: bold;
    font-size: 20px;
    color: var(--gray);
}

.contentq .info .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}


.sectionq .containerq .question .box .contentq .options .option {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border: 1px solid var(--lightgray);
    min-width: 268px;
    min-height: 40px;
}

.option.selected {
    border: 1px solid var(--black) !important;
}

.option.selected .option-content {
    color: var(--black);
}
.option.selected .input {
    color: var(--black);
}


.contentq .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 281px;
    margin-bottom: 10px;
}

.options .option-content {
    color: var(--lightblack);
    font-family: "Zizou Slab";
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;

}

.contentq .info .options .option input {
    min-width: 16px;
    min-height: 16px;
    border: 2px;
}

.sectionq .buttonContainer {
    margin-top: 15px;
    min-width: 191px;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 20%;
    min-width: 191px;
    min-height: 40px;
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
    font-family: "Zizou Slab";
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    cursor: pointer;
}


.disabled {
    background-color: var(--lightgray);
    pointer-events: none;
    cursor: not-allowed;
}

@media (min-width: 768px) {


    .sectionq .containerq {
        max-width: 844px;
        max-height: 420px;
        display: flex;
        justify-content: center
    }

    .sectionq .containerq .question .box .contentq {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .sectionq .containerq .question {
        max-width: 844px;
        min-height: 359px;
        max-height: 359px;
    }

    .sectionq .containerq .question .box {
        width: 90%;
    }

    .sectionq .containerq .question .box .contentq .imagenq {
        max-width: 296px;
        max-height: 245px;
    }

    .sectionq .containerq .question .box .title {
        margin-top: 30px;
    }

    .sectionq .containerq .question .box .contentq .infoq {
        max-width: 427px;
        max-height: 40px;
    }

    .contentq .info {
        display: flex;
        justify-content: center;
    }


}